[package]
name = "aleph-hal"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.86"
ash = "0.38.0+1.3.281"
ash-window = "0.13.0"
gpu-allocator = "0.27.0"
log = "0.4"
raw-window-handle = "0.6.2"
winit = "0.30.5"
fern = "0.6.2"
humantime = "2.1.0"
pollster = "0.3.0"
vk-shader-macros = "0.2.10"
nalgebra = "0.33.0"

aleph-core = { path = "../aleph-core" }
